<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kamping App</title>
  <link rel="stylesheet" href="/lib/bootstrap.css">
  <link rel="stylesheet" href="/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/campgrounds">Yeld Camp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        
        <% if(!currentUser){ %>
          <a class="nav-link" href="/register">
            Sign Up <i class="material-icons">supervised_user_circle
            </i>
          </a>
          <a class="nav-link" href="/login">
            Log in
            <i class="material-icons">account_circle
            </i>
          </a>
        <% }else{ %>
          <a class="nav-link" href="#">
            Log in as <%= currentUser.username %> <i class="material-icons">supervised_user_circle
            </i>
          </a>
          <a class="nav-link" href="/logout">
            Log out <i class="material-icons">cancel_schedule_send
            </i>
          </a>
        <% } %>
      </div>
    </div>
  </nav>